{{notification-container}}
<div class="container-default">
  <div class="container-admin">
    <div class="admin-menu">
      <ul class="nav navbar-nav nav-admin">
          <li class="nav-item"><a {{action "openDashboard"}} class="admin-item" href="#">Dashboard</a></li>
          <li class="nav-item"><a {{action "openRestaurants"}} class="admin-item" href="#">Restaurants</a></li>
          <li class="nav-item "><a {{action "openLocations"}} class="admin-item" href="#">Locations</a></li>
          <li class="nav-item "><a {{action "openUsers"}} class="admin-item" href="#">Users</a></li>
      </ul>
    </div>

    <div class="menu-component">
      {{#dashboard-component enabled=enableDashboard}}{{/dashboard-component}}
      {{#admin-restaurants enabled=enableRestaurants}}{{/admin-restaurants}}
      {{#add-restaurant enabled=enableAddRestaurant}}{{/add-restaurant}}
      {{#add-location enabled=enableAddLocation}}{{/add-location}}
      {{#admin-locations enabled=enableLocations}}{{/admin-locations}}
      {{#admin-users enabled=enableUsers}}{{/admin-users}}
      {{#add-user enabled=enableAddUser}}{{/add-user}}
    </div>
  </div>
</div>
