{{notification-container}}
<div class="container-default">

  <div class="cover">
    <div class="mask">
      <div class="rest-img-div">
        <img class="rest-img" src="/assets/images/restaurant.jpg"><img>
      </div>
      <div class="rest-main">
        <h3 class="rest-name">{{model.name}}</h3>
          {{star-rating rating=model.mark id="stars-display" baseColor="lightgray" fillColor="#Fe4a49" readOnly=true}}
        <p class="rest-category">{{model.category}}</p>
      </div>
    </div>
  </div>


  <ul class="nav navbar-left nav-restaurant">
      <li class="nav-item"><a href="#">Reservation</a></li>
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item "><a href="#">Menu</a></li>
      <li class="nav-item "><a href="#">Photos</a></li>
  </ul>
  <div class="rest-container">
    <div class="rest-div div-reserve">
      <p class="rest-subtitle">Make a free reservation</p>
      <div class="res-bar">
        {{#reservation-bar model=model}}{{/reservation-bar}}
      </div>
    </div>
    <div class="rest-div div-desc">
      <p class="rest-subtitle">About Restaurant name</p>
      <div class="map">
        {{g-maps lat=lat lng=lng zoom=zoom markers=markers }}
      </div>
      <p class="rest-subtitle">Description</p>
      <p class="rest-description">{{model.description}}</p>
    </div>
    <div class="rest-div div-menu">
      <p class="rest-subtitle">Menu</p>
      <ul class="nav navbar-nav navbar-left nav-menu">
          <li class="nav-item"><a href="#">Breakfast</a></li>
          <li class="nav-item "><a href="#">Lunch</a></li>
          <li class="nav-item "><a href="#">Dinner</a></li>
      </ul>

      <ul class="menu">
        <li><span>Broccoli Rabe</span><span>$8.95</span></li>
        <li><span>Fried Mozzarell</span><span>$8.95</span></li>
      </ul>


    </div>
    {{#rate-modal value=modal model=model enabled=false}}{{/rate-modal}}
  </div>

</div>
