{{#if enabled}}
<div class="add-user-panel">
  <div class="user-info-input">
      <p class="add-user-par">First Name</p>
      {{input value=firstName class="user-input" onfocus="this.placeholder = ''" type="text"}}
      <p class="add-user-par">Last Name</p>
      {{input value=lastName class="user-input" onfocus="this.placeholder = ''" type="text"}}
      <p class="add-user-par">Email</p>
      {{input value=email class="user-input" onfocus="this.placeholder = ''" type="text"}}
      <p class="add-user-par">Password</p>
      {{input value=password class="user-input" onfocus="this.placeholder = ''" type="text"}}
      <p class="add-user-par">Phone</p>
      {{input value=phone class="user-input" onfocus="this.placeholder = ''" type="text"}}
      <p class="add-user-par">Country</p>
      {{input value=country class="user-input" onfocus="this.placeholder = ''" type="text"}}
      <p class="add-user-par">City</p>
      {{input value=city class="user-input" onfocus="this.placeholder = ''" type="text"}}
      <button class="button-add create-user-btn">Add user</button>
    </div>
</div>
{{/if}}
